* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  background: url('img/nasa.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem;
}
.container {
  display: flex;
  justify-content: center;
}
.input-container , .output-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
select {
  background:#0E243B;
  color: #fff;
  outline: none;
  width: 40%;
  font-size: 16px;
}
button {
  border: none;
  outline: none;
  background:#0E243B;
  color: #fff;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
textarea {
  margin-top: .5rem;
 width: 100%;
 font-size: 18px;
 outline: none;
 transition: .3s;
 background: #e5e5e5;
 padding: 5px;
}
textarea:focus {
  border: 1px solid #027afb;
}
@media only screen and (max-width:768px) {
  .container {
    flex-direction: column;
  }
  .input-container , .output-container {
    margin: 1rem 2rem;
  }
}